.container {
    background-color: #E3F2FD;
    display: flex;
    justify-content: space-between;
    padding: 1rem 5rem;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    margin: 1rem 0;
}